*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
/* variable colors and fonts */
:root{
    --text-color:#3A3A3A;
    --button-color:#E02C6D;
    --text-gray:#18191F;
    --footer-color:#0A0826;

}


/* shared styles*/
    .container{
        max-width: 1110px;
        margin: 0 auto;
    }

    .flex{
        display: flex;
    }

    .logo-text{
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
    }

    .primary-btn{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--button-color);
        border-style: none;
        color: #fff;
        padding: 10px 24px;
        border-radius: 41px;
        font-size: 16px;
        font-weight: bold;
    }



/* normal styes */
header{
    max-width: 1200px;
    margin: 0 auto;
}
header #nav{
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
header #nav .nav-menu {
    list-style: none;
    gap: 34px;
}
header #nav .nav-menu a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}
header #nav .nav-menu a i{
    font-size: 24px;
    color:#000 ;
}

/* banner section */
#banner{
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 582px;
}
#banner h1{
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
    color: var(--text-color);
}
#banner .banner-description{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 16px;
    color: var(--text-color);
}

#banner .banner-image{
    background: url(//images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 475px;
    width: 475px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-image img{
    max-width: 440px;
}

/* featured section */
#featured{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* product collection section */
#collection{
    max-width: 1047px;
    margin: 100px auto;
}
#collection .collection-description{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}

#collection .product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#collection .product-container .product{
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 15%);
}
#collection .product-container .product .product-image{
    margin-bottom: 1rem;

}
#collection .product-container .product .product-content .product-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: var(--text-gray);
}
#collection .product-container .product .product-content .product-price{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 87%);
}
#collection .product-container .product .product-content .star-container{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
#collection .product-container .product .product-content .star-container .star-image {
    display: flex;
    align-items: center;
    gap: 0;
}
#collection .product-container .product .product-content .star-container .star-image img{
    max-width: 1rem;
    max-height: 1rem;
    
}
#collection .product-container .product .product-content .star-container .star-ratings{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;
    
}
#collection .product-container .product .product-content .product-description{
    font-size: 14px;
    font-weight: bold;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: #787885;
}



















/* responsive design */
@media  screen and (max-width:576px) {
    /* shared style */
    

    #nav{
        flex-direction: column;
    }
    header #nav .nav-menu{
        gap: 10px;
        align-items: center;
        margin-top: 10px;
    }
    header #nav .nav-menu a{
        font-size: 14px;
        line-height: 100%;
    }
    header #nav .nav-menu a i {
        font-size: 18px;
    }

    /* banner section */
    #banner{
        flex-direction: column-reverse;
        
    }
    #banner .banner-image{
        width: 100%;
        background-size: 90%;
        height: 500px;
    }
    #banner .banner-image img{
        max-width: 80%;
    }
    #banner .banner-content{
        text-align: center;
        padding: 1rem;
    }
    #banner .banner-content h1{
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin-bottom:6px;
    }
    #banner .banner-description{
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    }
    #banner .banner-content .btn-container{
        display: flex;
        justify-content: center;
    }


    /* featured section */
    #featured{
        justify-content: center;
        margin-top: 70px;
        gap: 20px;
        flex-wrap: wrap;
    
    }
    #featured .item img{
        max-width: 60px;
    }


    /* product container */
    #collection {
        padding: 1rem;
    }
    #collection .product-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
    #collection .product-container .product .product-image img{
        max-width: 100%;
    }
    #collection .product-container .product .product-content .product-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
}
}